<div>
  <div>
    <h1>
      List of all messages
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new message
    </h2>

    <form action="/insert_message" method="post">
      <div>
        <label for="reciever_id_box">
          Reciever
        </label>

        <input type="text" id="reciever_id_box" name="query_reciever_id">
      </div>

      <div>
        <label for="sender_id_box">
          Sender
        </label>

        <input type="text" id="sender_id_box" name="query_sender_id">
      </div>

      <div>
        <label for="listing_id_box">
          Listing
        </label>

        <input type="text" id="listing_id_box" name="query_listing_id">
      </div>

      <div>
        <label for="text_message_box">
          Text message
        </label>

        <textarea id="text_message_box" name="query_text_message" rows="3"></textarea>
      </div>

      <button>
        Create message
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Reciever
        </th>

        <th>
          Sender
        </th>

        <th>
          Listing
        </th>

        <th>
          Text message
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_messages.each do |a_message| %>
      <tr>
        <td>
          <%= a_message.id %>
        </td>

        <td>
          <%= a_message.reciever_id %>
        </td>

        <td>
          <%= a_message.sender_id %>
        </td>

        <td>
          <%= a_message.listing_id %>
        </td>

        <td>
          <%= a_message.text_message %>
        </td>

        <td>
          <%= time_ago_in_words(a_message.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_message.updated_at) %> ago
        </td>

        <td>
          <a href="/messages/<%= a_message.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
