<div>
  <div>
    <h1>
      Message #<%= @the_message.id %> details
    </h1>

    <div>
      <div>
        <a href="/messages">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_message/<%= @the_message.id %>">
          Delete message
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Reciever
      </dt>
      <dd>
        <%= @the_message.reciever_id %>
      </dd>

      <dt>
        Sender
      </dt>
      <dd>
        <%= @the_message.sender_id %>
      </dd>

      <dt>
        Listing
      </dt>
      <dd>
        <%= @the_message.listing_id %>
      </dd>

      <dt>
        Text message
      </dt>
      <dd>
        <%= @the_message.text_message %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_message.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_message.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit message
    </h2>

    <form action="/modify_message/<%= @the_message.id %>"  method="post" >
      <div>
        <label for="reciever_id_box">
          Reciever
        </label>

        <input type="text" id="reciever_id_box" name="query_reciever_id" value="<%= @the_message.reciever_id %>">
      </div>

      <div>
        <label for="sender_id_box">
          Sender
        </label>

        <input type="text" id="sender_id_box" name="query_sender_id" value="<%= @the_message.sender_id %>">
      </div>

      <div>
        <label for="listing_id_box">
          Listing
        </label>

        <input type="text" id="listing_id_box" name="query_listing_id" value="<%= @the_message.listing_id %>">
      </div>

      <div>
        <label for="text_message_box">
          Text message
        </label>

        <textarea id="text_message_box" name="query_text_message"><%= @the_message.text_message %></textarea>
      </div>

      <button>
        Update message
      </button>
    </form>
  </div>
</div>

<hr>
