<div>
  <div>
    <h1>
      Listings
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new listing
    </h2>

    <form action="/insert_listing" method="post">
      <div>
        <label for="owner_name_box">
          Owner name
        </label>

        <input type="text" id="owner_name_box" name="query_owner_name">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status">
      </div>

      <div>
        <label for="post_date_box">
          Post date
        </label>

        <input type="datetime-local" id="post_date_box" name="query_post_date">
      </div>

      <div>
        <label for="sq_ft_box">
          Sq ft
        </label>

        <input type="text" id="sq_ft_box" name="query_sq_ft">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id">
      </div>

      <div>
        <label for="asking_price_box">
          Asking price
        </label>

        <input type="text" id="asking_price_box" name="query_asking_price">
      </div>

      <div>
        <label for="city_box">
          City
        </label>

        <input type="text" id="city_box" name="query_city">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category_id">
      </div>

      <div>
        <label for="auction_close_box">
          Auction close
        </label>

        <input type="datetime-local" id="auction_close_box" name="query_auction_close">
      </div>

      <div>
        <label for="map_location_box">
          Map location
        </label>

        <input type="text" id="map_location_box" name="query_map_location">
      </div>

      <button>
        Create listing
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Owner name
        </th>

        <th>
          Status
        </th>

        <th>
          Post date
        </th>

        <th>
          Sq ft
        </th>

        <th>
          Image
        </th>

        <th>
          Owner
        </th>

        <th>
          Asking price
        </th>

        <th>
          City
        </th>

        <th>
          Category
        </th>

        <th>
          Auction close
        </th>

        <th>
          Map location
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_listings.each do |a_listing| %>
      <tr>
        <td>
          <%= a_listing.id %>
        </td>

        <td>
          <%= a_listing.owner_name %>
        </td>

        <td>
          <%= a_listing.status %>
        </td>

        <td>
          <%= a_listing.post_date %>
        </td>

        <td>
          <%= a_listing.sq_ft %>
        </td>

        <td>
          <%= a_listing.image %>
        </td>

        <td>
          <%= a_listing.owner_id %>
        </td>

        <td>
          <%= a_listing.asking_price %>
        </td>

        <td>
          <%= a_listing.city %>
        </td>

        <td>
          <%= a_listing.category_id %>
        </td>

        <td>
          <%= a_listing.auction_close %>
        </td>

        <td>
          <%= a_listing.map_location %>
        </td>

        <td>
          <%= time_ago_in_words(a_listing.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_listing.updated_at) %> ago
        </td>

        <td>
          <a href="/listings/<%= a_listing.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
