<div>
  <div>
    <h1>
      Listing #<%= @the_listing.id %> details
    </h1>

    <div>
      <div>
        <a href="/listings">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_listing/<%= @the_listing.id %>">
          Delete listing
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Owner name
      </dt>
      <dd>
        <%= @the_listing.owner_name %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @the_listing.status %>
      </dd>

      <dt>
        Post date
      </dt>
      <dd>
        <%= @the_listing.post_date %>
      </dd>

      <dt>
        Sq ft
      </dt>
      <dd>
        <%= @the_listing.sq_ft %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_listing.image %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_listing.owner_id %>
      </dd>

      <dt>
        Asking price
      </dt>
      <dd>
        <%= @the_listing.asking_price %>
      </dd>

      <dt>
        City
      </dt>
      <dd>
        <%= @the_listing.city %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <%= @the_listing.category_id %>
      </dd>

      <dt>
        Auction close
      </dt>
      <dd>
        <%= @the_listing.auction_close %>
      </dd>

      <dt>
        Map location
      </dt>
      <dd>
        <%= @the_listing.map_location %>
      </dd>

    </dl>
  </div>
</div>

<hr>

<div>
    <h2>
      Add a new bid
    </h2>

    <form action="/insert_bid" method="post">
      <div>
        <label for="listing_id_box">
          Listing
        </label>

        <input type="text" id="listing_id_box" name="query_listing_id">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="bid_amount_box">
          Bid amount
        </label>

        <input type="text" id="bid_amount_box" name="query_bid_amount">
      </div>

      <button>
        Create bid
      </button>
    </form>
  </div>


<div>
  <div>
    <h2>
      Edit listing
    </h2>

    <form action="/modify_listing/<%= @the_listing.id %>"  method="post" >
      <div>
        <label for="owner_name_box">
          Owner name
        </label>

        <input type="text" id="owner_name_box" name="query_owner_name" value="<%= @the_listing.owner_name %>">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status" value="<%= @the_listing.status %>">
      </div>

      <div>
        <label for="post_date_box">
          Post date
        </label>

        <input type="datetime-local" id="post_date_box" name="query_post_date"
         value="<%= @the_listing.post_date %>">
      </div>

      <div>
        <label for="sq_ft_box">
          Sq ft
        </label>

        <input type="text" id="sq_ft_box" name="query_sq_ft" value="<%= @the_listing.sq_ft %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_listing.image %>">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_listing.owner_id %>">
      </div>

      <div>
        <label for="asking_price_box">
          Asking price
        </label>

        <input type="text" id="asking_price_box" name="query_asking_price" value="<%= @the_listing.asking_price %>">
      </div>

      <div>
        <label for="city_box">
          City
        </label>

        <input type="text" id="city_box" name="query_city" value="<%= @the_listing.city %>">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category_id" value="<%= @the_listing.category_id %>">
      </div>

      <div>
        <label for="auction_close_box">
          Auction close
        </label>

        <input type="datetime-local" id="auction_close_box" name="query_auction_close"
         value="<%= @the_listing.auction_close %>">
      </div>

      <div>
        <label for="map_location_box">
          Map location
        </label>

        <input type="text" id="map_location_box" name="query_map_location" value="<%= @the_listing.map_location %>">
      </div>

      <button>
        Update listing
      </button>
    </form>
  </div>
</div>

<hr>
